# Ansible managed - gpu_common role
deb [arch={{ _gpu_apt_arch }} signed-by=/etc/apt/keyrings/nvidia-container-toolkit.asc] https://nvidia.github.io/libnvidia-container/{{ nvidia_container_toolkit_channel }}/deb/{{ _gpu_apt_arch }} /
