# Ansible managed - slurm_common
{% set controller = groups[slurm_controller_group] | first %}
ClusterName={{ slurm_cluster_name }}
SlurmctldHost={{ hostvars[controller].ansible_hostname }}({{ hostvars[controller].ansible_host | default(controller) }})
SlurmUser=slurm
SlurmdUser=root
AuthType=auth/munge
CredType=cred/munge
StateSaveLocation={{ slurm_state_save_location }}
SlurmdSpoolDir={{ slurm_slurmd_spool_dir }}
SlurmctldPidFile=/run/slurmctld.pid
SlurmdPidFile=/run/slurmd.pid
SlurmctldLogFile={{ slurm_log_dir }}/slurmctld.log
SlurmdLogFile={{ slurm_log_dir }}/slurmd.log
ReturnToService=2
ProctrackType={{ slurm_proctrack_type }}
TaskPlugin={{ slurm_task_plugin }}
SchedulerType=sched/backfill
SelectType=select/cons_tres
SelectTypeParameters=CR_Core_Memory
MpiDefault=none
{% set gpu = namespace(present=false) %}
{% for node in groups[slurm_compute_group] %}
{% if hostvars[node]._slurm_gpu_gres | default(hostvars[node].slurm_gres | default('')) | length > 0 %}
{% set gpu.present = true %}
{% endif %}
{% endfor %}
{% if gpu.present %}
GresTypes=gpu
{% endif %}
{% if slurm_accounting_enabled | bool %}
AccountingStorageType=accounting_storage/slurmdbd
AccountingStorageHost={{ slurm_accounting_host }}
AccountingStoragePort={{ slurm_accounting_port }}
AccountingStorageEnforce={{ slurm_accounting_enforce }}
JobAcctGatherType={{ slurm_jobacct_gather_type }}
JobAcctGatherFrequency={{ slurm_jobacct_gather_frequency }}
{% endif %}

{% for node in groups[slurm_compute_group] %}
NodeName={{ hostvars[node].slurm_node_name | default(node) }} NodeHostname={{ hostvars[node].ansible_hostname }} NodeAddr={{ hostvars[node].ansible_host | default(node) }} CPUs={{ hostvars[node].slurm_cpus | default(hostvars[node].ansible_processor_vcpus | default(1)) }} RealMemory={{ hostvars[node].slurm_real_memory | default(((hostvars[node].ansible_memtotal_mb | default(1024) | int) * 0.95) | int) }}{% if hostvars[node]._slurm_gpu_gres | default(hostvars[node].slurm_gres | default('')) | length > 0 %} Gres={{ hostvars[node]._slurm_gpu_gres | default(hostvars[node].slurm_gres | default('')) }}{% endif %} State=UNKNOWN
{% endfor %}
PartitionName={{ slurm_partition_name }} Nodes={% for node in groups[slurm_compute_group] %}{{ hostvars[node].slurm_node_name | default(node) }}{% if not loop.last %},{% endif %}{% endfor %} Default={{ slurm_default_partition | bool | ternary('YES', 'NO') }} MaxTime=INFINITE State=UP
{% if slurm_extra_config | length > 0 %}

{{ slurm_extra_config }}
{% endif %}
