[mysqld]
server-id =1
user = mysql
port = 3306
basedir = /data001/mariaDB/MARIA/mariadb
datadir = /data001/mariaDB/MARIA_DATA
tmpdir = /data001/mariaDB/MARIA_DATA/tmpdir
socket = /data001/mariaDB/MARIA_DATA/mysql.sock

lower_case_table_names = 1
open_files_limit = 100000

character_set_server = utf8
collation-server = utf8_general_ci
character-set-client-handshake = TRUE

sql-mode = "STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
#bind-address =  0.0.0.0
default-storage-engine = InnoDB
skip-name-resolve
skip-external-locking

event-scheduler = OFF
sysdate-is-now 

#simple_password_check = ON 
#simple_password_check_digits = 1
#simple_password_check_letters_same_case = 1
#simple_password_check_minimal_length = 12
#simple_password_check_other_characters = 1
#max_password_error = 5


back_log = 1024
max_connections = 2000
max_connect_errors = 10
thread_cache_size = 128
thread_stack = 2M
wait_timeout = 1800
interactive_timeout = 1800

max_allowed_packet = 16M
max_heap_table_size = 512M 
tmp_table_size = 1G

sort_buffer_size = 1M
join_buffer_size = 2M
read_buffer_size = 2M
read_rnd_buffer_size = 8M

table_open_cache = 40000
table_cache = 2048

query_cache_size = 1G
query_cache_limit = 64M

group_concat_max_len = 1024
transaction-isolation = READ-COMMITTED
use_stat_tables = NEVER 
histogram_size = 20 
histogram_type = SINGLE_PREC_HB
optimizer_search_depth = 20 
optimizer_use_condition_selectivity = 4 


innodb_write_io_threads = 8
innodb_read_io_threads = 8
innodb_buffer_pool_size = 21G
innodb_file_per_table = 1 
innodb_data_home_dir = /data001/mariaDB/MARIA_DATA
innodb_data_file_path = 1bdata01:5G:autoextend
innodb_log_group_home_dir = /data001/mariaDB/MARIA_DATA
innodb_log_buffer_size = 256M
innodb_log_file_size = 500M
innodb_lock_wait_timeout = 120
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT

key_buffer_size = 32M
bulk_insert_buffer_size = 64M
myisam_sort_buffer_size = 128M
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1
myisam_recover
ft_min_word_len = 4

pid-file = /data001/mariaDB/MARIA_DATA/mysql.pid 
log-warnings
log-error = /data001/mariaDB/MARIA_LOG/error/mysql.err

general_log = 0 
general_log_file = /data001/mariaDB/MARIA_LOG/general/mysql_general.log

log_slow_admin_statements
slow-query-log = 0 
long_query_time = 60 
slow_query_log_file = /data001/mariaDB/MARIA_LOG/general/mysql-slow-query.log
large-pages 

[client]
socket = /data001/mariaDB/MARIA_DATA/mysql.sock
port = 3306
character-sets-dir = /data001/mariaDB/MARIA/mariadb/share/charsets/

[mysql]
default-character-set = utf8
no-auto-rehash
show-warnings
prompt = \u@\h:\d_\R:\m:\\s>

[mysqldump]
quick
default-character-set = utf8
max_allowed_packet = 16M

[mysqld_safe]
open_files_limit = 24000
log-error = /data001/mariaDB/MARIA_LOG/error/mysql.err
pid-file = /data001/mariaDB/MARIA_DATA/mysql.pid 
