# Ansible managed - slurm_gpu_cluster_setup role
ConstrainDevices={{ slurm_cgroup_constrain_devices | bool | ternary('yes', 'no') }}
ConstrainCores={{ slurm_cgroup_constrain_cores | bool | ternary('yes', 'no') }}
ConstrainRAMSpace={{ slurm_cgroup_constrain_ram_space | bool | ternary('yes', 'no') }}
