### GCP Project&Region ###
project = "YOUR_GCP_PROJECT_ID"
region  = "asia-northeast3"
zone    = "asia-northeast3-a"

### VM General Configurations ###
vm_name               = "gcp-an3-a-cluster-node"
control_plane_vm_name = "gcp-an3-a-cluster-control-plane"
machine_type          = "e2-medium"
vm_status             = "RUNNING"
auto_restart          = true

vm_labels = {
  type  = "gcevm"
  usage = "test-vm"
  user  = "wocheon07"
}

on_host_maintenance = "MIGRATE"

### SSH Configurations ###
# Defaults to the current local username and ~/.ssh/id_rsa.pub.
# ssh_user            = "wocheon07"
# ssh_public_key_path = "~/.ssh/id_ed25519.pub"

### GPU Configurations ###
use_gpu_accelerator = false
# gpu_type = "nvidia-tesla-t4"
# gpu_cnt  = 1

### Boot Disk Configurations ###
boot_disk_image = "ubuntu-os-accelerator-images/ubuntu-accelerator-2404-amd64-with-nvidia-595"
# boot_disk_image    = null
# boot_disk_snapshot = "instance-20250707-070233-snapshot"
boot_disk_snapshot = null

boot_disk_size        = 50
boot_disk_type        = "pd-standard"
boot_disk_auto_delete = true

boot_disk_labels = {
  type = "gce-boot-disk"
  user = "wocheon07"
}

### Additional Disk Configurations ###
enable_additional_disks = false

### Network Configurations ###
network     = "test-vpc-1"
subnetwork  = "test-vpc-sub-01"
internal_ip = "192.168.1.30"

use_external_ip  = true
external_ip_tier = "PREMIUM"

network_tags = [
  "test-vm",
  "terraform-test",
]

### Service Scopes List ###
service_account = "487401709675-compute@developer.gserviceaccount.com"
service_scope   = "selected"

service_scope_list = [
  "https://www.googleapis.com/auth/cloud-platform",
  "https://www.googleapis.com/auth/compute",
  "https://www.googleapis.com/auth/devstorage.full_control",
]
