[Unit]
Description=NVIDIA DCGM Exporter container
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker rm -f {{ dcgm_exporter_container_name }}
ExecStart=/usr/bin/docker run --rm --name {{ dcgm_exporter_container_name }} --gpus all --cap-add SYS_ADMIN -p {{ dcgm_exporter_port }}:9400 {{ dcgm_exporter_image }}
ExecStop=/usr/bin/docker stop {{ dcgm_exporter_container_name }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
