# Ansible managed - kubernetes_control_plane
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ kubernetes_node_ip | default(ansible_default_ipv4.address) }}
  bindPort: {{ kubernetes_apiserver_port }}
nodeRegistration:
  name: {{ kubernetes_node_name }}
  criSocket: {{ kubernetes_cri_socket }}
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
clusterName: {{ kubernetes_cluster_name }}
kubernetesVersion: {{ _kubernetes_kubeadm_version.stdout }}
{% if kubernetes_control_plane_endpoint | length > 0 %}
controlPlaneEndpoint: {{ kubernetes_control_plane_endpoint }}
{% endif %}
networking:
  dnsDomain: {{ kubernetes_dns_domain }}
  podSubnet: {{ kubernetes_pod_subnet }}
  serviceSubnet: {{ kubernetes_service_subnet }}
{% if kubernetes_apiserver_cert_sans | length > 0 %}
apiServer:
  certSANs:
{% for san in kubernetes_apiserver_cert_sans %}
    - {{ san }}
{% endfor %}
{% endif %}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
